body {
    margin: 0;
}


div {
    width: 300px;
    height: 300px;
    background-color: pink;
}

h1 {
    background-color: pink;
    width: 100px;
    padding: 0px 0px 0px 40px;
    margin-bottom: 0;
}

#divone {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 50px;
}

#divtwo {
    border-color: yellow;
    border-width: 3px;
    border-style: dashed;
    border-left-color: purple;
    border-left-width: 8px;
    padding-right: 50px;
    margin: 200px;
}


/* border shorthand property */
#divthree {
    border: 4px solid red;
    border-left-style: dotted;
    border-radius: 20%;
    padding: 10px;
}

/* padding shorthand can be used in 4 ways. Padding: 10px (applies to all sides). padding: 5px (top and bottom) 20px (left and right). padding: 1px (top) 2px (horizontal) 3px (bottom). padding: 1px (top) 2px (right) 3px (bottom) 4px (left). */

/* margin - spacing outside of border
padding - spacing inside of border
content box - content
border - border */