

/* Hex and rgb colour system examples */
h2 {
    color: #5FCFFC;
    background-color:rgb(89,151,0);
}


button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}


/* shorthand if digits for each color same e.g. instead of #000000 can use #000 */
body {
    background-color: #000;
}