h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: none;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
    display: block;
}

div {
    width: 200px;
    height: 200px;
    background-color: green;
    border: 5px solid black;
    display: inline-block;

    

    /* display - inline, block, inline-block, none */

    /* ems - relative to parent element font size
    rems - relative to root font size */